* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: rgb(194, 81, 29);
  --lightorange: rgb(223, 126, 82);
  --fontfamily: Roboto;
}

/* Body styling */

body {
  font-family: var(--fontfamily);
  line-height: 1.5;
  background-color: rgb(41, 41, 44);
  color: var(--lightorange);
}

h1 {
  color: var(--orange);
  font-size: 45px;
}

h2 {
  color: var(--orange);
  font-size: 30px;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

.navbar a {
  color:var(--orange);
}

.navbar a:hover {
  color: var(--lightorange);
}

/* nav bar styling */

.navigation {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

.navbar {
  display:flex;
  gap: 4vw;
  font-size: 20px;
}

/* hero banner styling */

.hero-background {
  background-image: url(../images/hero-image.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10vw;
  text-align: center;
}

.hero-background h2 {
  color:white;
  margin: 5vh;
  bottom: 0;
  left: 0;
  font-size: 27px;
}

/* about section styling */

.profile-picture {
  width: 10vw;
  height: auto;
  border-radius: 10px;
}

#profile-about {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-section, .page-section-contact {
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 2vw 2vw;
}

#profile-about, #work-heading, #contact-heading {
  width:15%;
  text-align: center;
}
/*^Titles on the left*/

#about {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

#about-para {
  width: 75%;
  margin-left: 3vw;
  padding-left: 3vw;
  border-left: 8px solid var(--orange);
  font-size: 20px;
}
/*^paragraph content on the right of the screen */

#work, #contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* Work section and grid*/
.work-grid {
  margin-left: 3vw;
  display: grid;
  grid-template-rows: 400px 300px 300px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "horiseon horiseon"
  "placeholder1 placeholder2"
  "placeholder3 placeholder4"
  ;
  width:75%;
  padding-left: 3vw;
  border-left: 8px solid var(--orange);
}


.work-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  display:grid;
  align-content: end;
  cursor: pointer;
  opacity: 0.5;
  border-radius:10px;
}

.grid-heading {
  background-color: var(--orange);
  color: white;
  font-size: 25px;
  padding: 8px;
  text-align: left;
}

#horiseon {
  grid-area:horiseon;
  background-image: url("../images/horiseon-screenshot.jpg");
}

#placeholder1 {
  grid-area: placeholder1;
  background-image: url("../images/Place-holder-img1.jpg");
}

#placeholder2 {
  grid-area: placeholder2;
  background-image: url("../images/Place-holder-img2.jpg");

}

#placeholder3 {
  grid-area: placeholder3;
  background-image: url("../images/Place-holder-img3.jpg");
  
}

#placeholder4 {
  grid-area: placeholder4;
  background-image: url("../images/Place-holder-img4.jpg");
}

.work-grid-area:hover {
  opacity: 1;
}

/* contact section */

#contact-content {
  width:75%;
  height: 100px;
  margin-left: 3vw;
  border-left: 8px solid var(--orange);
  text-decoration: none;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

#contact-content a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#contact-content a:hover {
  color: var(--lightorange);
}

footer {
  display:flex;
  justify-content: end;
  color:var(--orange);
  text-decoration: none;
  right: 200px;
}

footer a{
  color:var(--orange);
}

footer a:hover {
  color:var(--lightorange);
}

/* Media queries */

@media screen and (max-width: 1000px){
}

@media only screen and (max-width: 768px){
  .navigation {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6vw;
  }
  /*Navbar*/
  .navbar {
    display:flex;
    justify-content: space-evenly;
    padding-top:3vw;
    font-size: 20px;
  }
  /*Hero banner*/
  .hero-background {
    height: 20vw;
    display:flex;
    justify-content: center;
  }
  /*Display of section contents*/
  .profile-picture {
    width:30vw;
    border-radius: 10px;
  }

  /*Puts titles of sections on top of their contents*/
  #about,
  #work,
  #contact {
    display:flex;
    flex-direction: column;
    padding: 4vw 3vw;
  }

  #profile-about {
    display:flex;
    flex-direction: column;
  }

  #profile-about,
  #work-heading,
  #contact-heading {
    width: auto;
  }

  #about-para {
    width: 90%;
    margin: 1vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4vw;
    text-align: center;
  }

  .work-grid {
    width:90%;
    padding:0;
    margin:1vw;
  }

  #contact {
    display:flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 1vw;
  }

  #contact-content {
    width:90%;
    display: flex;
    flex-direction: column;
    margin: 2vw;
  }

}