* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: rgb(194, 81, 29);
  --lightorange: rgb(223, 126, 82);
  --fontfamily: Roboto;
}

/* Body styling */

body {
  font-family: var(--fontfamily);
  line-height: 1.5;
  background-color: rgb(41, 41, 44);
  color: var(--lightorange);
}

h1 {
  color: var(--orange);
  font-size: 50px;
}

h2 {
  color: var(--orange);
  font-size: 40px;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

.navbar a {
  color:var(--orange);
}

.navbar a:hover {
  color: var(--lightorange);
}

/* nav bar styling */

.navigation {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

.navbar {
  display:flex;
  gap: 4vw;
  font-size: 20px;
}

/* hero banner styling */

.hero-background {
  background-image: url(../images/hero-image.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 8vw;
  text-align: center;
  position: relative;
}

.hero-background h2 {
  color:white;
  position: absolute;
  margin: 5vh;
  bottom: 0;
  left: 0;
  font-size: 27px;
}

/* about section styling */

.profile-picture {
  width: 10vw;
  height: auto;
  border-radius: 10px;
}

#profile-about {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-section {
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 2vw 2vw;
}

#profile-about, #work-heading, #contact-heading {
  width:15%;
  text-align: center;
}
/*^Titles on the left*/

#about {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

#about-para {
  width: 75%;
  margin-left: 3vw;
  padding-left: 3vw;
  border-left: 8px solid var(--orange);
  font-size: 20px;
}
/*^paragraph content on the right of the screen */

#work, #contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* Work section and grid*/
.work-grid {
  margin-left: 3vw;
  display: grid;
  grid-template-rows: 400px 300px 300px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "horiseon horiseon"
  "placeholder1 placeholder2"
  "placeholder3 placeholder4"
  ;
  width:75%;
  padding-left: 3vw;
  border-left: 8px solid var(--orange);
}


.work-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  display:grid;
  align-content: end;
  cursor: pointer;
  opacity: 0.5;
}

.grid-heading {
  background-color: var(--orange);
  color: white;
  font-size: 25px;
  padding: 8px;
  text-align: left;
}

#horiseon {
  grid-area:horiseon;
  background-image: url("../images/horiseon-screenshot.jpg");
  border-radius:10px;
}

#placeholder1 {
  grid-area: placeholder1;
  background-image: url("../images/Place-holder-img1.jpg");
}

#placeholder2 {
  grid-area: placeholder2;
  background-image: url("../images/Place-holder-img2.jpg");

}

#placeholder3 {
  grid-area: placeholder3;
  background-image: url("../images/Place-holder-img3.jpg");
  
}

#placeholder4 {
  grid-area: placeholder4;
  background-image: url("../images/Place-holder-img4.jpg");
}

.work-grid-area:hover {
  opacity: 1;
}

/* contact section */

#contact-content {
  width:75%;
  height: 80px;
  margin-left: 3vw;
  border-left: 8px solid var(--orange);
  text-decoration: none;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

#contact-content a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Media queries */

@media screen and (max-width: 1000px){
}

@media only screen and (max-width: 768px){
  
}